/* #clip-path{
    height: 10em;
    width: 40em;
    background: url(download\ \(8\).jfif);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
} */

.detyra{
width: 40em;
height: 40em;
background: linear-gradient(
    90deg,
    rgba(7, 9, 161, 0.8)0%,
    rgba(0,168,255,0.8)100%
);
background:  url(download\ \(8\).jfif);
clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
display: flex;
text-align: center;
align-items: center;
justify-content:center ;
line-height: 30px;
background-size: cover;
}

h1{
    color: white;
}

p{
    color: white;
}

button{
    background-color: white;

}